In [114]:
import pandas as pd
import numpy as np

In [115]:
#create messey sample empolyee data
data ={
    "Product_ID": ["P001", "P002", "P003", "P004", "P005", "P006", "P007", "P008", "P009", "P010",
        "P011", "P012", "P013", "P014", "P015", "P016", "P006", "P013"],
    
    "Product_Name": ["Smartphone ", None, "TELEVISION", "air condition", "Speakers", "WASHING Machine",
        "air fryer", "Electrric Cooker", "printer", "Iron", "generator", None, "Standing Fan",
        "smartphone", "Television", "smartphone", "laptop", "Blender"],
    
     "Category": [ "electronics", "Electronics", "electronics", "Electronics", "Electronics", "ELECTRONICS", "electronics",
         "ELECTRONICS", "electronics", "Electronics", "Electronics", "electronics", "electronics", "ELECTRONICS", "Electronics", 
         "Electronics", "electronics", "Electronics"],
    
    "Supplier": ["Samsung", "LG", "HISENSE", "Hisense", "Lg", "Thermocool", "Oraimo", "Generic", "HP", 
        "Binatone", "Tiger", "Hp", "binatone", "samsung", "hisense", "Nokia", "Dell", "oraimo"],
    
    "Quantity": [15, 25, 10, None, 10, 30, -5, 5, 23, 14, None, "twenty-seven", 13, -12, 56, "fourty-five", 21, 20],
    
    "Unit_Price": [1500, 200, 350, 400, 765, 99999, 430, None, 150, 365, 459, 320, 870, None, 210, 700, 190, 300],
    
    "Reorder_Level": [18, "23", 20, 45, 12, 35, 18, 22, 9, 19, "twenty-one", "Nineteen", 24, 44, 16, 21, 31, 25],
    
    "Last_Update": ["2022/04/12", "2021/11/01", "2022/01/18", "2019/9/25", "2018/07/05",
        "2022/2/4", "2019/2/01", "2019/02/11", "2021/5/26", "2022/02/05",
        "2021/10/14", "2019/12/01", "2020/03/22", "2021/05/10",
        "2022/1/5", "2022/11/9", "2019/3/21", "2021/03/2"]


}

In [116]:
#create a dataframe for the data
df = pd.DataFrame(data)
df

,Product_ID,Product_Name,Category,Supplier,Quantity,Unit_Price,Reorder_Level,Last_Update
0,P001,Smartphone,electronics,Samsung,15,1500.0,18,2022/04/12
1,P002,None,Electronics,LG,25,200.0,23,2021/11/01
2,P003,TELEVISION,electronics,HISENSE,10,350.0,20,2022/01/18
3,P004,air condition,Electronics,Hisense,None,400.0,45,2019/9/25
4,P005,Speakers,Electronics,Lg,10,765.0,12,2018/07/05
5,P006,WASHING Machine,ELECTRONICS,Thermocool,30,99999.0,35,2022/2/4
6,P007,air fryer,electronics,Oraimo,-5,430.0,18,2019/2/01
7,P008,Electrric Cooker,ELECTRONICS,Generic,5,NaN,22,2019/02/11
8,P009,printer,electronics,HP,23,150.0,9,2021/5/26
9,P010,Iron,Electronics,Binatone,14,365.0,19,2022/02/05
10,P011,generator,Electronics,Tiger,None,459.0,twenty-one,2021/10/14
11,P012,None,electronics,Hp,twenty-seven,320.0,Nineteen,2019/12/01
12,P013,Standing Fan,electronics,binatone,13,870.0,24,2020/03/22
13,P014,smartphone,ELECTRONICS,samsung,-12,NaN,44,2021/05/10
14,P015,Television,Electronics,hisense,56,210.0,16,2022/1/5
15,P016,smartphone,Electronics,Nokia,fourty-five,700.0,21,2022/11/9
16,P006,laptop,electronics,Dell,21,190.0,31,2019/3/21
17,P013,Blender,Electronics,oraimo,20,300.0,25,2021/03/2

In [117]:
#display the first five rows
df.head()

,Product_ID,Product_Name,Category,Supplier,Quantity,Unit_Price,Reorder_Level,Last_Update
0,P001,Smartphone,electronics,Samsung,15,1500.0,18,2022/04/12
1,P002,None,Electronics,LG,25,200.0,23,2021/11/01
2,P003,TELEVISION,electronics,HISENSE,10,350.0,20,2022/01/18
3,P004,air condition,Electronics,Hisense,None,400.0,45,2019/9/25
4,P005,Speakers,Electronics,Lg,10,765.0,12,2018/07/05

In [118]:
#display the last five rows
df.tail()

,Product_ID,Product_Name,Category,Supplier,Quantity,Unit_Price,Reorder_Level,Last_Update
13,P014,smartphone,ELECTRONICS,samsung,-12,NaN,44,2021/05/10
14,P015,Television,Electronics,hisense,56,210.0,16,2022/1/5
15,P016,smartphone,Electronics,Nokia,fourty-five,700.0,21,2022/11/9
16,P006,laptop,electronics,Dell,21,190.0,31,2019/3/21
17,P013,Blender,Electronics,oraimo,20,300.0,25,2021/03/2

In [119]:
#information about dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product_ID     18 non-null     object
 1   Product_Name   16 non-null     object
 2   Category       18 non-null     object
 3   Supplier       18 non-null     object
 4   Quantity       16 non-null     object
 5   Unit_Price     16 non-null     float64
 6   Reorder_Level  18 non-null     object
 7   Last_Update    18 non-null     object
dtypes: float64(1), object(7)
memory usage: 1.3+ KB

In [120]:
#basic information about dataset
df.describe()

         Unit_Price
count     16.000000
mean    6700.500000
std    24881.963117
min      150.000000
25%      277.500000
50%      382.500000
75%      716.250000
max    99999.000000

In [121]:
#identify missing values
df.isnull().sum()

Product_ID       0
Product_Name     2
Category         0
Supplier         0
Quantity         2
Unit_Price       2
Reorder_Level    0
Last_Update      0
dtype: int64

In [122]:
#identify duplicate rows
df.duplicated().sum()

np.int64(0)

In [123]:
#standardize text
df["Product_Name"] = df["Product_Name"].str.strip().str.title()
df

,Product_ID,Product_Name,Category,Supplier,Quantity,Unit_Price,Reorder_Level,Last_Update
0,P001,Smartphone,electronics,Samsung,15,1500.0,18,2022/04/12
1,P002,None,Electronics,LG,25,200.0,23,2021/11/01
2,P003,Television,electronics,HISENSE,10,350.0,20,2022/01/18
3,P004,Air Condition,Electronics,Hisense,None,400.0,45,2019/9/25
4,P005,Speakers,Electronics,Lg,10,765.0,12,2018/07/05
5,P006,Washing Machine,ELECTRONICS,Thermocool,30,99999.0,35,2022/2/4
6,P007,Air Fryer,electronics,Oraimo,-5,430.0,18,2019/2/01
7,P008,Electrric Cooker,ELECTRONICS,Generic,5,NaN,22,2019/02/11
8,P009,Printer,electronics,HP,23,150.0,9,2021/5/26
9,P010,Iron,Electronics,Binatone,14,365.0,19,2022/02/05
10,P011,Generator,Electronics,Tiger,None,459.0,twenty-one,2021/10/14
11,P012,None,electronics,Hp,twenty-seven,320.0,Nineteen,2019/12/01
12,P013,Standing Fan,electronics,binatone,13,870.0,24,2020/03/22
13,P014,Smartphone,ELECTRONICS,samsung,-12,NaN,44,2021/05/10
14,P015,Television,Electronics,hisense,56,210.0,16,2022/1/5
15,P016,Smartphone,Electronics,Nokia,fourty-five,700.0,21,2022/11/9
16,P006,Laptop,electronics,Dell,21,190.0,31,2019/3/21
17,P013,Blender,Electronics,oraimo,20,300.0,25,2021/03/2

In [124]:
df["Category"] = df["Category"].str.strip().str.title()
df

,Product_ID,Product_Name,Category,Supplier,Quantity,Unit_Price,Reorder_Level,Last_Update
0,P001,Smartphone,Electronics,Samsung,15,1500.0,18,2022/04/12
1,P002,None,Electronics,LG,25,200.0,23,2021/11/01
2,P003,Television,Electronics,HISENSE,10,350.0,20,2022/01/18
3,P004,Air Condition,Electronics,Hisense,None,400.0,45,2019/9/25
4,P005,Speakers,Electronics,Lg,10,765.0,12,2018/07/05
5,P006,Washing Machine,Electronics,Thermocool,30,99999.0,35,2022/2/4
6,P007,Air Fryer,Electronics,Oraimo,-5,430.0,18,2019/2/01
7,P008,Electrric Cooker,Electronics,Generic,5,NaN,22,2019/02/11
8,P009,Printer,Electronics,HP,23,150.0,9,2021/5/26
9,P010,Iron,Electronics,Binatone,14,365.0,19,2022/02/05
10,P011,Generator,Electronics,Tiger,None,459.0,twenty-one,2021/10/14
11,P012,None,Electronics,Hp,twenty-seven,320.0,Nineteen,2019/12/01
12,P013,Standing Fan,Electronics,binatone,13,870.0,24,2020/03/22
13,P014,Smartphone,Electronics,samsung,-12,NaN,44,2021/05/10
14,P015,Television,Electronics,hisense,56,210.0,16,2022/1/5
15,P016,Smartphone,Electronics,Nokia,fourty-five,700.0,21,2022/11/9
16,P006,Laptop,Electronics,Dell,21,190.0,31,2019/3/21
17,P013,Blender,Electronics,oraimo,20,300.0,25,2021/03/2

In [125]:
df["Supplier"] = df["Supplier"].str.strip().str.title()
df

,Product_ID,Product_Name,Category,Supplier,Quantity,Unit_Price,Reorder_Level,Last_Update
0,P001,Smartphone,Electronics,Samsung,15,1500.0,18,2022/04/12
1,P002,None,Electronics,Lg,25,200.0,23,2021/11/01
2,P003,Television,Electronics,Hisense,10,350.0,20,2022/01/18
3,P004,Air Condition,Electronics,Hisense,None,400.0,45,2019/9/25
4,P005,Speakers,Electronics,Lg,10,765.0,12,2018/07/05
5,P006,Washing Machine,Electronics,Thermocool,30,99999.0,35,2022/2/4
6,P007,Air Fryer,Electronics,Oraimo,-5,430.0,18,2019/2/01
7,P008,Electrric Cooker,Electronics,Generic,5,NaN,22,2019/02/11
8,P009,Printer,Electronics,Hp,23,150.0,9,2021/5/26
9,P010,Iron,Electronics,Binatone,14,365.0,19,2022/02/05
10,P011,Generator,Electronics,Tiger,None,459.0,twenty-one,2021/10/14
11,P012,None,Electronics,Hp,twenty-seven,320.0,Nineteen,2019/12/01
12,P013,Standing Fan,Electronics,Binatone,13,870.0,24,2020/03/22
13,P014,Smartphone,Electronics,Samsung,-12,NaN,44,2021/05/10
14,P015,Television,Electronics,Hisense,56,210.0,16,2022/1/5
15,P016,Smartphone,Electronics,Nokia,fourty-five,700.0,21,2022/11/9
16,P006,Laptop,Electronics,Dell,21,190.0,31,2019/3/21
17,P013,Blender,Electronics,Oraimo,20,300.0,25,2021/03/2

In [126]:
#fix data types
def Quantity(value):
    if value == 'twenty-seven':
        return 27
    if value == 'fourty-five':
        return 45
    elif isinstance(value, (int, float)):
        return value
    elif isinstance(value, str) and value.isdigit():
        return int(value)
    else:
       return np.nan
df['Quantity'] = df['Quantity'].apply(Quantity)
df['Quantity']

0     15.0
1     25.0
2     10.0
3      NaN
4     10.0
5     30.0
6     -5.0
7      5.0
8     23.0
9     14.0
10     NaN
11    27.0
12    13.0
13   -12.0
14    56.0
15    45.0
16    21.0
17    20.0
Name: Quantity, dtype: float64

In [127]:
df

,Product_ID,Product_Name,Category,Supplier,Quantity,Unit_Price,Reorder_Level,Last_Update
0,P001,Smartphone,Electronics,Samsung,15.0,1500.0,18,2022/04/12
1,P002,None,Electronics,Lg,25.0,200.0,23,2021/11/01
2,P003,Television,Electronics,Hisense,10.0,350.0,20,2022/01/18
3,P004,Air Condition,Electronics,Hisense,NaN,400.0,45,2019/9/25
4,P005,Speakers,Electronics,Lg,10.0,765.0,12,2018/07/05
5,P006,Washing Machine,Electronics,Thermocool,30.0,99999.0,35,2022/2/4
6,P007,Air Fryer,Electronics,Oraimo,-5.0,430.0,18,2019/2/01
7,P008,Electrric Cooker,Electronics,Generic,5.0,NaN,22,2019/02/11
8,P009,Printer,Electronics,Hp,23.0,150.0,9,2021/5/26
9,P010,Iron,Electronics,Binatone,14.0,365.0,19,2022/02/05
10,P011,Generator,Electronics,Tiger,NaN,459.0,twenty-one,2021/10/14
11,P012,None,Electronics,Hp,27.0,320.0,Nineteen,2019/12/01
12,P013,Standing Fan,Electronics,Binatone,13.0,870.0,24,2020/03/22
13,P014,Smartphone,Electronics,Samsung,-12.0,NaN,44,2021/05/10
14,P015,Television,Electronics,Hisense,56.0,210.0,16,2022/1/5
15,P016,Smartphone,Electronics,Nokia,45.0,700.0,21,2022/11/9
16,P006,Laptop,Electronics,Dell,21.0,190.0,31,2019/3/21
17,P013,Blender,Electronics,Oraimo,20.0,300.0,25,2021/03/2

In [128]:
def Reorder_Level(value):
    if value == 'twenty-one':
        return 21
    if value == 'Nineteen':
        return 19
    elif isinstance(value, (int, float)):
        return value
    elif isinstance(value, str) and value.isdigit():
        return int(value)
    else:
       return np.nan
df['Reorder_Level'] = df['Reorder_Level'].apply(Reorder_Level)
df['Reorder_Level']

0     18
1     23
2     20
3     45
4     12
5     35
6     18
7     22
8      9
9     19
10    21
11    19
12    24
13    44
14    16
15    21
16    31
17    25
Name: Reorder_Level, dtype: int64

In [129]:
df["Quantity"] = pd.to_numeric(df["Quantity"], errors="coerce")
df["Quantity"]

0     15.0
1     25.0
2     10.0
3      NaN
4     10.0
5     30.0
6     -5.0
7      5.0
8     23.0
9     14.0
10     NaN
11    27.0
12    13.0
13   -12.0
14    56.0
15    45.0
16    21.0
17    20.0
Name: Quantity, dtype: float64

In [130]:
df["Unit_Price"] = pd.to_numeric(df["Unit_Price"], errors="coerce")
df["Unit_Price"]

0      1500.0
1       200.0
2       350.0
3       400.0
4       765.0
5     99999.0
6       430.0
7         NaN
8       150.0
9       365.0
10      459.0
11      320.0
12      870.0
13        NaN
14      210.0
15      700.0
16      190.0
17      300.0
Name: Unit_Price, dtype: float64

In [131]:
df["Last_Update"] = pd.to_datetime(df["Last_Update"], errors="coerce")
df["Last_Update"]

0    2022-04-12
1    2021-11-01
2    2022-01-18
3    2019-09-25
4    2018-07-05
5    2022-02-04
6    2019-02-01
7    2019-02-11
8    2021-05-26
9    2022-02-05
10   2021-10-14
11   2019-12-01
12   2020-03-22
13   2021-05-10
14   2022-01-05
15   2022-11-09
16   2019-03-21
17   2021-03-02
Name: Last_Update, dtype: datetime64[ns]

In [132]:
df

,Product_ID,Product_Name,Category,Supplier,Quantity,Unit_Price,Reorder_Level,Last_Update
0,P001,Smartphone,Electronics,Samsung,15.0,1500.0,18,2022-04-12
1,P002,None,Electronics,Lg,25.0,200.0,23,2021-11-01
2,P003,Television,Electronics,Hisense,10.0,350.0,20,2022-01-18
3,P004,Air Condition,Electronics,Hisense,NaN,400.0,45,2019-09-25
4,P005,Speakers,Electronics,Lg,10.0,765.0,12,2018-07-05
5,P006,Washing Machine,Electronics,Thermocool,30.0,99999.0,35,2022-02-04
6,P007,Air Fryer,Electronics,Oraimo,-5.0,430.0,18,2019-02-01
7,P008,Electrric Cooker,Electronics,Generic,5.0,NaN,22,2019-02-11
8,P009,Printer,Electronics,Hp,23.0,150.0,9,2021-05-26
9,P010,Iron,Electronics,Binatone,14.0,365.0,19,2022-02-05
10,P011,Generator,Electronics,Tiger,NaN,459.0,21,2021-10-14
11,P012,None,Electronics,Hp,27.0,320.0,19,2019-12-01
12,P013,Standing Fan,Electronics,Binatone,13.0,870.0,24,2020-03-22
13,P014,Smartphone,Electronics,Samsung,-12.0,NaN,44,2021-05-10
14,P015,Television,Electronics,Hisense,56.0,210.0,16,2022-01-05
15,P016,Smartphone,Electronics,Nokia,45.0,700.0,21,2022-11-09
16,P006,Laptop,Electronics,Dell,21.0,190.0,31,2019-03-21
17,P013,Blender,Electronics,Oraimo,20.0,300.0,25,2021-03-02

In [133]:
#handle missing values
df["Product_Name"].fillna("Unknown", inplace=True)
df["Product_Name"]

C:\Users\ayode\AppData\Local\Temp\ipykernel_27320\2434592727.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Product_Name"].fillna("Unknown", inplace=True)

0           Smartphone
1              Unknown
2           Television
3        Air Condition
4             Speakers
5      Washing Machine
6            Air Fryer
7     Electrric Cooker
8              Printer
9                 Iron
10           Generator
11             Unknown
12        Standing Fan
13          Smartphone
14          Television
15          Smartphone
16              Laptop
17             Blender
Name: Product_Name, dtype: object

In [134]:
df["Supplier"].fillna("Unknown", inplace=True)
df["Supplier"]

C:\Users\ayode\AppData\Local\Temp\ipykernel_27320\3158013724.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Supplier"].fillna("Unknown", inplace=True)

0        Samsung
1             Lg
2        Hisense
3        Hisense
4             Lg
5     Thermocool
6         Oraimo
7        Generic
8             Hp
9       Binatone
10         Tiger
11            Hp
12      Binatone
13       Samsung
14       Hisense
15         Nokia
16          Dell
17        Oraimo
Name: Supplier, dtype: object

In [135]:
df["Quantity"] = df["Quantity"].fillna(df["Quantity"].median())
df["Quantity"]

0     15.0
1     25.0
2     10.0
3     17.5
4     10.0
5     30.0
6     -5.0
7      5.0
8     23.0
9     14.0
10    17.5
11    27.0
12    13.0
13   -12.0
14    56.0
15    45.0
16    21.0
17    20.0
Name: Quantity, dtype: float64

In [136]:
df["Unit_Price"].fillna(df["Unit_Price"].median(), inplace=True)
df

C:\Users\ayode\AppData\Local\Temp\ipykernel_27320\790776599.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Unit_Price"].fillna(df["Unit_Price"].median(), inplace=True)

,Product_ID,Product_Name,Category,Supplier,Quantity,Unit_Price,Reorder_Level,Last_Update
0,P001,Smartphone,Electronics,Samsung,15.0,1500.0,18,2022-04-12
1,P002,Unknown,Electronics,Lg,25.0,200.0,23,2021-11-01
2,P003,Television,Electronics,Hisense,10.0,350.0,20,2022-01-18
3,P004,Air Condition,Electronics,Hisense,17.5,400.0,45,2019-09-25
4,P005,Speakers,Electronics,Lg,10.0,765.0,12,2018-07-05
5,P006,Washing Machine,Electronics,Thermocool,30.0,99999.0,35,2022-02-04
6,P007,Air Fryer,Electronics,Oraimo,-5.0,430.0,18,2019-02-01
7,P008,Electrric Cooker,Electronics,Generic,5.0,382.5,22,2019-02-11
8,P009,Printer,Electronics,Hp,23.0,150.0,9,2021-05-26
9,P010,Iron,Electronics,Binatone,14.0,365.0,19,2022-02-05
10,P011,Generator,Electronics,Tiger,17.5,459.0,21,2021-10-14
11,P012,Unknown,Electronics,Hp,27.0,320.0,19,2019-12-01
12,P013,Standing Fan,Electronics,Binatone,13.0,870.0,24,2020-03-22
13,P014,Smartphone,Electronics,Samsung,-12.0,382.5,44,2021-05-10
14,P015,Television,Electronics,Hisense,56.0,210.0,16,2022-01-05
15,P016,Smartphone,Electronics,Nokia,45.0,700.0,21,2022-11-09
16,P006,Laptop,Electronics,Dell,21.0,190.0,31,2019-03-21
17,P013,Blender,Electronics,Oraimo,20.0,300.0,25,2021-03-02

In [137]:
#remove unrealistic values 
df = df[(df["Quantity"] >= 0) & (df["Unit_Price"] > 0) & (df["Unit_Price"] < 10000)]
df

,Product_ID,Product_Name,Category,Supplier,Quantity,Unit_Price,Reorder_Level,Last_Update
0,P001,Smartphone,Electronics,Samsung,15.0,1500.0,18,2022-04-12
1,P002,Unknown,Electronics,Lg,25.0,200.0,23,2021-11-01
2,P003,Television,Electronics,Hisense,10.0,350.0,20,2022-01-18
3,P004,Air Condition,Electronics,Hisense,17.5,400.0,45,2019-09-25
4,P005,Speakers,Electronics,Lg,10.0,765.0,12,2018-07-05
7,P008,Electrric Cooker,Electronics,Generic,5.0,382.5,22,2019-02-11
8,P009,Printer,Electronics,Hp,23.0,150.0,9,2021-05-26
9,P010,Iron,Electronics,Binatone,14.0,365.0,19,2022-02-05
10,P011,Generator,Electronics,Tiger,17.5,459.0,21,2021-10-14
11,P012,Unknown,Electronics,Hp,27.0,320.0,19,2019-12-01
12,P013,Standing Fan,Electronics,Binatone,13.0,870.0,24,2020-03-22
14,P015,Television,Electronics,Hisense,56.0,210.0,16,2022-01-05
15,P016,Smartphone,Electronics,Nokia,45.0,700.0,21,2022-11-09
16,P006,Laptop,Electronics,Dell,21.0,190.0,31,2019-03-21
17,P013,Blender,Electronics,Oraimo,20.0,300.0,25,2021-03-02

In [138]:
#standardize dates
df["Last_Update"] = pd.to_datetime(df["Last_Update"], errors="coerce")
df

C:\Users\ayode\AppData\Local\Temp\ipykernel_27320\1760684690.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Last_Update"] = pd.to_datetime(df["Last_Update"], errors="coerce")

,Product_ID,Product_Name,Category,Supplier,Quantity,Unit_Price,Reorder_Level,Last_Update
0,P001,Smartphone,Electronics,Samsung,15.0,1500.0,18,2022-04-12
1,P002,Unknown,Electronics,Lg,25.0,200.0,23,2021-11-01
2,P003,Television,Electronics,Hisense,10.0,350.0,20,2022-01-18
3,P004,Air Condition,Electronics,Hisense,17.5,400.0,45,2019-09-25
4,P005,Speakers,Electronics,Lg,10.0,765.0,12,2018-07-05
7,P008,Electrric Cooker,Electronics,Generic,5.0,382.5,22,2019-02-11
8,P009,Printer,Electronics,Hp,23.0,150.0,9,2021-05-26
9,P010,Iron,Electronics,Binatone,14.0,365.0,19,2022-02-05
10,P011,Generator,Electronics,Tiger,17.5,459.0,21,2021-10-14
11,P012,Unknown,Electronics,Hp,27.0,320.0,19,2019-12-01
12,P013,Standing Fan,Electronics,Binatone,13.0,870.0,24,2020-03-22
14,P015,Television,Electronics,Hisense,56.0,210.0,16,2022-01-05
15,P016,Smartphone,Electronics,Nokia,45.0,700.0,21,2022-11-09
16,P006,Laptop,Electronics,Dell,21.0,190.0,31,2019-03-21
17,P013,Blender,Electronics,Oraimo,20.0,300.0,25,2021-03-02

In [142]:
#products needing restocking
restock = df[df["Quantity"] < df["Reorder_Level"]][["Product_ID","Product_Name","Quantity", "Unit_Price", "Reorder_Level"]]
restock

   Product_ID      Product_Name  Quantity  Unit_Price  Reorder_Level
0        P001        Smartphone      15.0      1500.0             18
2        P003        Television      10.0       350.0             20
3        P004     Air Condition      17.5       400.0             45
4        P005          Speakers      10.0       765.0             12
7        P008  Electrric Cooker       5.0       382.5             22
9        P010              Iron      14.0       365.0             19
10       P011         Generator      17.5       459.0             21
12       P013      Standing Fan      13.0       870.0             24
16       P006            Laptop      21.0       190.0             31
17       P013           Blender      20.0       300.0             25

In [143]:
# Average unit price per category 
avg_price = df.groupby("Category")["Unit_Price"].mean() 
avg_price

Category
Electronics    477.433333
Name: Unit_Price, dtype: float64

In [144]:
# Supplier with most products
supplier_count = df["Supplier"].value_counts().idxmax()
"Top supplier:", supplier_count

('Top supplier:', 'Hisense')

In [153]:
# Top 5 most expensive products
top_expensive = (df.sort_values("Unit_Price", ascending=False)).head(5)
top_expensive

,Product_ID,Product_Name,Category,Supplier,Quantity,Unit_Price,Reorder_Level,Last_Update
0,P001,Smartphone,Electronics,Samsung,15.0,1500.0,18,2022-04-12
12,P013,Standing Fan,Electronics,Binatone,13.0,870.0,24,2020-03-22
4,P005,Speakers,Electronics,Lg,10.0,765.0,12,2018-07-05
15,P016,Smartphone,Electronics,Nokia,45.0,700.0,21,2022-11-09
10,P011,Generator,Electronics,Tiger,17.5,459.0,21,2021-10-14

In [156]:
#sort by Unit_Price descending
sorted_df = df.sort_values(["Category","Unit_Price"], ascending=[True,False]) 
sorted_df

,Product_ID,Product_Name,Category,Supplier,Quantity,Unit_Price,Reorder_Level,Last_Update
0,P001,Smartphone,Electronics,Samsung,15.0,1500.0,18,2022-04-12
12,P013,Standing Fan,Electronics,Binatone,13.0,870.0,24,2020-03-22
4,P005,Speakers,Electronics,Lg,10.0,765.0,12,2018-07-05
15,P016,Smartphone,Electronics,Nokia,45.0,700.0,21,2022-11-09
10,P011,Generator,Electronics,Tiger,17.5,459.0,21,2021-10-14
3,P004,Air Condition,Electronics,Hisense,17.5,400.0,45,2019-09-25
7,P008,Electrric Cooker,Electronics,Generic,5.0,382.5,22,2019-02-11
9,P010,Iron,Electronics,Binatone,14.0,365.0,19,2022-02-05
2,P003,Television,Electronics,Hisense,10.0,350.0,20,2022-01-18
11,P012,Unknown,Electronics,Hp,27.0,320.0,19,2019-12-01
17,P013,Blender,Electronics,Oraimo,20.0,300.0,25,2021-03-02
14,P015,Television,Electronics,Hisense,56.0,210.0,16,2022-01-05
1,P002,Unknown,Electronics,Lg,25.0,200.0,23,2021-11-01
16,P006,Laptop,Electronics,Dell,21.0,190.0,31,2019-03-21
8,P009,Printer,Electronics,Hp,23.0,150.0,9,2021-05-26